*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
keystore.jks

# iOS Build files
iosApp/iosApp.xcworkspace
iosApp/Pods
iosApp/iosApp.xcodeproj/project.xcworkspace
iosApp/iosApp.xcodeproj/xcuserdata
